<!-- Show the login button when the user is not authenticated  -->
<div *ngIf="authService.loggedInCurrentUser() === null">
  <!-- <button (click)="login()">Log in</button> -->
  <router-outlet></router-outlet>
</div>

<!-- Show the rest of the app after the user is authenticated -->
<div *ngIf="authService.loggedInCurrentUser() !== null">



  <h1>SECURE TO-DO LIST APP</h1>

  <!-- Add logout button -->


  <!-- To-Do list section -->
  <section class="todoapp">
    @if(!todoService.isLoading()){
    <app-todo-footer></app-todo-footer>
    <app-todo-header></app-todo-header>

    <app-todo-list></app-todo-list>

    }@else {
    <h3>Loading Todo.. Wait..</h3>
    }
  </section>

  <div class="logout-button-container">
    <button class="logout-button" (click)="logout()">Log out</button>
  </div>
</div>
