/* Default Styles */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.toggle-all {
  width: 40px !important;
  height: 60px !important;
  right: auto !important;
}

.toggle-all-label {
  pointer-events: none;
}

app-todo-item {
  display: block;
  border-bottom: 1px solid #ededed;
}

app-todo-item:last-child {
  border-bottom: none;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-top: 120px;
}

h2 {
  text-align: center;
  color: #333;
  font-weight: 600;
}

.logout-button {
  background-color: #ff6c73;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

.logout-button:hover {
  background-color: #4f2c2f;
}

.logout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}








/* Mobile Styles */
@media (max-width: 431px) {
  h1 {
    font-size: 2em;
    margin-top: 60px;
  }

  .toggle-all {
    width: 30px !important;
    height: 50px !important;
  }

  .logout-button {

    font-size: 14px;
    padding: 8px;
  }

  .logout-button-container {
    margin-top: 15px;
  }

  app-todo-item {

    
  }

  .todo-count strong,
  .clear-completed {
    font-size: 0.9em; /* Reduce font size for other elements */
    
  }

  /* General item size adjustments */
  .filters li {

    width: 30px;
    font-size: 0.9em;
  }

  .todoapp {

    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
  }
  
  .filters{}



}



